<div class=" bootstrap-wrapper">
  <div class="container "  id="con1" >

      <div class="row" >

          <div class="col-md-6 offset-md-3" >
            <mat-card style="background-color:antiquewhite ;">
             <!--logo --> 
              <div class="container text-center">
                  <img src="../../../assets/41739418.jpg"  style="height: 100px ; " alt="img">
                  <h1>Exam Registration !!</h1>
        <p>{{user|json}}</p>             
              </div>

               <!--Form Structurs-->
               <form [formGroup]="signForm" (ngSubmit)="formSubmit()">
            
              <!--UserName field--> 
              <mat-form-field class="full-with" appearance="outline">
                  <mat-label>User Name</mat-label>
                  <input type="text" [(ngModel)]="user.username" name="username" formControlName="username"
                  matInput placeholder="enter here UserName">
                <mat-hint style="color: crimson;"  >User name must be unique</mat-hint>
              </mat-form-field><br>
          <small style="color: red;" *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                Username is required,and Only latters and numbers are  allowed</small>
               
               
                <!--User Password  Filed-->
              <mat-form-field class="full-with" appearance="fill">
                  <mat-label> User Password</mat-label>
                  <input  [(ngModel)]="user.password" name="password"  formControlName="password"
                   type="password" matInput placeholder="enter here 6 digit Password">
              </mat-form-field>
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger d2">
                <div *ngIf="password?.errors?.['required']">
                    password is required.
                </div>
                <div *ngIf="password?.errors?.['6']">
                  password lenght should be 6 digit
              </div>
            </div>

                <!--First Name  Filed-->
              <mat-form-field  class="full-with" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input  required [(ngModel)]=" user.firstName" name="firstname" formControlName="firstName"
                  matInput placeholder="enter here first Name">
              </mat-form-field>
              <small style="color: red;" *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
                Only letters allowed</small>

            <!--Last Name  Filed-->
              <mat-form-field  class="full-with" appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input  required [(ngModel)]="user.lastName" name="lastname" formControlName="lastName"
                  matInput placeholder="enter here last name">
              </mat-form-field>
              <small style="color: red;" *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
                Only letters allowed</small>

                <!--Emaile Field-->
              <mat-form-field  class="full-with" appearance="fill">
                  <mat-label>Email-Id</mat-label>
                  <input  required [(ngModel)]="user.email" name="email" formControlName="email"
                  matInput placeholder="enter here email">
              </mat-form-field>
              
                 <!--Email validation-->
                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger d2">
                  <div *ngIf="email?.errors?.['required']">
                      email is required
                      <div *ngIf="email?.errors?.['pattern']">
                        Please provide a valid email address
                      </div>
                  </div>
                </div>

               <!--Phone Number-->   
              <mat-form-field  class="full-with" appearance="outline">
                  <mat-label> Phone Number</mat-label>
                  <input  required [(ngModel)]="user.phone" name="phone" formControlName="phone"
                  matInput placeholder="enter here UserName">
                </mat-form-field>
                <!--Phone Number Validation-->
              <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="alert alert-danger d2">
                    <div *ngIf="phone?.errors?.['required']">
                        phone number is required.
                    </div>
                    <div *ngIf="phone?.errors?.['pattern']">
                      Please, Enter 10 digit Mobile Number.
                      </div>
                </div> 

                <div class="container text-center"  >

                  <button type="submit" [disabled]="signForm.invalid" mat-raised-button color="primary">Submit</button>

                  <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>

                </div>




              </form>
            </mat-card>




          </div>
      </div>
  </div>

</div>