<mat-card>
    <h1>Add new Content</h1>
  <!-- {{category|json}}-->
    <mat-card-content>
       <div class="bootstrap-warapper">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form >
                       
                    <mat-form-field class="W" appearance="outline">
                         <mat-label>Title</mat-label>
                         <input type="text"
                           [(ngModel)]="content.title"
                          name="title"
                         matInput placeholder="enter here Title">
                        </mat-form-field>
                                  
                        <mat-form-field class="W" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea 
                             name="content"
                            matInput placeholder="enter here content"
                            [(ngModel)]="content.content"
                            rows="3"
                            ></textarea>

                           </mat-form-field>

                           <mat-form-field class="W" appearance="outline">
                            <mat-label>postedOn</mat-label>
                            <input type="text"
                              [(ngModel)]="content.postedOn"
                             name="postedon"
                            matInput placeholder="enter here postedOn">
                           </mat-form-field>

                           <mat-form-field class="W" appearance="outline">
                            <mat-label>posteddBy</mat-label>
                            <input type="text"
                              [(ngModel)]="content.postedBy"
                             name="postedon"
                            matInput placeholder="enter here postedBy">
                           </mat-form-field>


                           <div class="container text-center"  >

                            
        
                             <button  type="submit" mat-raised-button color="primary" (click)="formSubmit()">Update</button>
         
                             
         
                           </div>
                       
        
        
                     </form>
        
            </div>
        </div>
       </div>

    </mat-card-content>

</mat-card>
