<div class=" bootstrap-wrapper">
    <div class="container "  id="con1" >

        <div class="row" >

            <div class="col-md-6 offset-md-3" >
                <mat-card style="background-color:antiquewhite ;">
                <div class="container text-center">
                    <img src="../../../assets/41739418.jpg"  style="height: 100px ; " alt="img">
                 
                </div>
                <h1 class="text-center">login pages !!</h1>

                {{loginData| json}}

                <!--form-->
                <form (ngSubmit)="formSubmit()">
                       
               <mat-form-field class="full-width" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input [(ngModel)]="loginData.userName"
                     name="username"
                    matInput placeholder="enter here UserName">
                    <mat-hint>Valid User Name</mat-hint>

                      </mat-form-field>
                             
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [(ngModel)]="loginData.password" type="password"
                     name="password"
                    matInput placeholder="Enter here password">
                    <mat-hint></mat-hint>

                      </mat-form-field>

                      <div class="container text-center"  >

                        <button type="submit" mat-raised-button color="primary">login</button>
    
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
    
                      </div>
                  


                </form>
          
            </mat-card>
            </div>
        
        </div>
    </div>
</div>

