<mat-card>
    <mat-action-list>
        <div mat-subheader>menu</div>
        <button  routerLink="/admin"   mat-list-item ><mat-icon mat-list-icon>home</mat-icon>home
        </button>

        <button mat-list-item  routerLink="/admin/Profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>

       

        <button mat-list-item  routerLink="/admin/contents">
            <mat-icon mat-list-icon>list</mat-icon>Your contents
        </button>
        <!-- <button mat-list-item  routerLink="/admin/add-category">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>edit Content
        </button> -->
       <button mat-list-item  routerLink="/admin/view-contents">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon> Add Content
        </button>
        <!-- <button mat-list-item  routerLink="/admin/Profile">
            <mat-icon mat-list-icon>add</mat-icon> Add Quizze
        </button> -->
    </mat-action-list>
</mat-card>
